{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'dashboard_motorist.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <a href="{% url 'dashboard_admin' %}">
            <img src="{% static 'frsc.jfif' %}" alt="Logo">
        </a>
        <div class="nav-links">
            <a href="{% url 'admin_login_redirect' %}">Admin site</a>
            <a href="https://frsc.gov.ng/offences-penalties-2/#" target="_blank" rel="noopener noreferrer">Offense List</a>
            <a href="{% url 'logout_user' %}">Logout</a>
        </div>
    </nav>


     <!-- Main Section -->
     <div class="main-content">
        {% if user.is_authenticated %}
            <h2>Welcome, {{ user.first_name }} {{ user.last_name }}</h2>
        {% else %}
            <h2>Welcome, Admin</h2>
        {% endif %}
        <div class="motorist-info">
            <div>
                <p>Admin</p>
                <h3>{{ Motorist.license_no }}</h3>
            </div>
        </div>
        
         <!-- Additional Buttons -->
         <div class="buttons">
            <a href="#" class="btn">Admin</a>
            <a href="#" class="btn">Admin 1</a>
        </div>
    </div>
</body>
</html>