{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'dashboard_motorist.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <a href="{% url 'dashboard_admin' %}">
            <img src="{% static 'frsc.jfif' %}" alt="Logo">
        </a>
        <div class="nav-links">
            <a href="{% url 'admin_login_redirect' %}">Admin site</a>
            <a href="https://frsc.gov.ng/offences-penalties-2/#" target="_blank" rel="noopener noreferrer">Offense List</a>
            <a href="{% url 'logout_user' %}">Logout</a>
        </div>
    </nav>


     <!-- Main Section -->
     <div class="main-content">
        {% if user.is_authenticated %}
            <h2>Welcome, {{ user.first_name }} {{ user.last_name }}</h2>
        
        <div class="motorist-info">
            <div>
                <p>Admin</p>
                <h3>Pending Tickets</h3>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Ticket Number</th>
                    <th>Official</th>
                    <th>Offence</th>
                    <th>Amount</th>
                    <th>Issue Date</th>
                    <th>Due Date</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.ticket_no }}</td>
                    <td>{{ ticket.official.first_name|slice:":1" }}. {{ ticket.official.last_name }}</td>
                    <td>{{ ticket.offence.ticket_infringement }}</td>
                    <td>N{{ ticket.offence.penalty }}</td>
                    <td>{{ ticket.issue_date }}</td>
                    <td>{{ ticket.due_date }}</td>
                    <td>Nil</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7">No tickets available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h2>Welcome, Admin</h2>
        {% endif %}
         <!-- Additional Buttons -->
         <div class="buttons">
            <a href="#" class="btn">Admin</a>
            <a href="#" class="btn">Admin 1</a>
        </div>
    </div>
</body>
</html>